/*
Main CSS for My Website
Mark Yamane
Last Updated: 
*/

html, body, div, .content, header, footer, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body, pre, button {
    background: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
div {
    padding-top: 5vw;
    padding-bottom: 5vw;
}
button {
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    outline: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
p.link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* ========== FONTS ========== */
h1 {
    transition: transform 500ms ease, opacity 500ms ease;
    transform: scale(1);
    letter-spacing: 0.125em;
    opacity: 1;
    font-weight: 200;
    display: inline-block;
    font-size: 54px;
}
h2 {
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 20px;
}
h3 {
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 1vw;
    color: rgba(255,255,255, 0.65);
}
p {
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
    color: rgba(255,255,255, 0.5);
}
p a {
    color: rgba(255,255,255, 0.5);
}
p a:hover {
    text-decoration: underline;
}


/* ========== HEADER ========== */
header {
    display: flex;
    flex-direction: column;
    background: #09203f;
    color: white;
    height: 100vh;
    position: relative;
    text-align: center;
    justify-content: center;
}
#topHeader {
    background: url(images/mt.jpg) no-repeat fixed;
    max-height: 100%;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(9,32,63,.6);
}
#layer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
header h1 {
    font-size: 6vw;
    -webkit-animation: fadeIn 1.5s;
       -moz-animation: fadeIn 1.5s;
        -ms-animation: fadeIn 1.5s;
         -o-animation: fadeIn 1.5s;
            animation: fadeIn 1.5s;
}
/* 'scroll to about' button */
#scrollAbout {
    position: absolute;
    bottom: 105px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    animation: bounce .75s infinite alternate;
    -webkit-animation: bounce .75s infinite alternate;
       -moz-animation: bounce .75s infinite alternate;
        -ms-animation: bounce .75s infinite alternate;
         -o-animation: bounce .75s infinite alternate;
            animation: bounce .75s infinite alternate;
    animation-delay: 1.5s; /* start animation when button appears */
}
header p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.175em;
    color: rgba(255,255,255,.5);
    -webkit-animation: fadeInHalfway 1.5s;
       -moz-animation: fadeInHalfway 1.5s;
        -ms-animation: fadeInHalfway 1.5s;
         -o-animation: fadeInHalfway 1.5s;
            animation: fadeInHalfway 1.5s;
}
i.down {
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    border: solid;
    border-color: rgba(255,255,255,.5);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    -webkit-animation: fadeInHalfway 1.5s;
       -moz-animation: fadeInHalfway 1.5s;
        -ms-animation: fadeInHalfway 1.5s;
         -o-animation: fadeInHalfway 1.5s;
            animation: fadeInHalfway 1.5s;
}
/* hover for 'scroll to about' button */
#scrollAbout:hover {
    cursor: pointer;
}
#scrollAbout:hover i {
    border-color: rgba(255,255,255,.75);
}
#scrollAbout:hover p {
    color: rgba(255,255,255,.75);
}
/* bouncing animation */
@-webkit-keyframes bounce {
    to { bottom: 92px; }
}
@-moz-keyframes bounce {
    to { bottom: 92px; }
}
@-moz-keyframes bounce {
    to { bottom: 92px; }
}
@keyframes bounce {
    to { bottom: 92px; }
}
/* fade in */
@-webkit-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}
/* fade in halfway through animation duration */
@-webkit-keyframes fadeInHalfway {
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes fadeInHalfway {
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes fadeInHalfway {
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes fadeInHalfway {
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadeInHalfway {
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ========== STICKY HEADER ========== */
#title {
    padding: 15px;
    color: white;
    background-color: rgba(9,32,63, 1);
    z-index: 1000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    opacity: 0;
}
#title p {
    font-size: 24px;
    color: white;
    -webkit-animation: fadeIn .25s;
       -moz-animation: fadeIn .25s;
        -ms-animation: fadeIn .25s;
         -o-animation: fadeIn .25s;
            animation: fadeIn .25s;
}
/* used for background of scrollAbout ease to match aboutMe */
#stickyOffset {
    padding: 0;
    background-color: rgba(9,32,63,.75);
}



/* ========== ABOUT ME ========== */
#aboutMe {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: rgba(9,32,63,.75);
    color: white;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 7.5vw;
    padding-bottom: 7.5vw;
}



/* ========== SECTIONS ========== */
.section {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 7.5vw;
}
.section h3 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 2vw;
}
.section p {
    font-size: 1vw;
}
.section a {
    text-decoration: none;
}

/* picture left */
.div-right {
    width: calc(50% - 20px);
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}
.div-right h3 {
    padding-left: 0;
}
.img-left {
    padding: 40px;
}
.img-left img{
    width: 50%;
    float: left;
}
/* picture right */
.div-left {
    width: calc(50% - 20px);
    float: left;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}
.div-left h3 {
    padding-left: 0;
}
.img-right {
    padding: 40px;
}
.img-right img{
    width: 50%;
    float: right;
}



/* research */
.experience {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: rgba(9,32,63,.65);
    color: white;
    padding-top: 7.5vw;
}



/* ========== FOOTER ========== */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
footer p {
    padding: 15px;
    color: black;
}
#scrollToTop {
    color: black;
    padding: 0;
    border: none;
    background-color: transparent;
}
footer a {
    color: black;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 18px;
}
footer i {
    font-size: 21px;
}
#scrollToTop:hover, footer a:hover{
    cursor: pointer;
    color: gray;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/* ========== BREAK POINTS ========== */
/* desktop */
@media screen and (max-width: 992px){
    h2 {
        font-size: 30px;
    }
    h3, .section h3 {
        font-size: 21px;
        padding-bottom: 5px;
    }
    p, .section p {
        font-size: 15px;
        line-height: 30px;
    }
    #aboutMe {
        padding-top: 10vw;
        padding-bottom: 10vw;
        padding-left: 12vw;
        padding-right: 12vw;
    }
    .section {
        padding-top: 10vw;
    }
    .div-right, .div-left {
        padding-top: 15px;
        width: 100%;
    }
    .img-left, .img-right{
        padding: 25px;
        padding-bottom: 48px;
    }
    .img-left img, .img-right img {
        width: 100%;
    }
    header h1 {
        font-size: 54px;
    }
}



/* tablet */
@media screen and (max-width: 768px){
    header {
        display: none;
    }
    h2 {
        font-size: 27px;
    }
    h3 {
        font-size: 21px;
    }
    p, .section p {
        font-size: 15px;
        line-height: 20px;
    }
    .aboutme {
        padding-left: 12vw;
        padding-right: 12vw;
    }
    .img-left, .img-right{
        padding: 20px;
        padding-bottom: 48px;
    }
    footer {
        padding-top: 7.5vw;
        padding-bottom: 7.5vw;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* mobile */
@media screen and (max-width: 576px){
    header {
        display: none;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 15px;
    }
    
    #title {
        padding: 10px;
        opacity: 1;
    }
    #title p {
        font-size: 18px;
    }
    .aboutme {
        padding-left: 9vw;
        padding-right: 9vw;
    }
}